{% extends "base_app/base.html" %}
{% load check_user %}
{% load static %}
{% load date_filter %}
{% block content %}

    <div class="announces">
        <hr class="featurette-divider">
        {% for element in announces %}
            <h4> {{ element.title }} </h4>
            <em> Автор объявления: {{ element.course.author }} </em>
            <br/>
            <em> Дисциплина: {{ element.course.title }}</em>
            <br/>
            <em> Дата публикации: {{ element.publish_date|format }} </em>
            <p> {{ element.text|urlize  }} </p>
            {% define_profile user as profile_ch %}
            {% if profile_ch == 'teacher' %}
                <a href="{% url 'delete-announce' id=element.pk %}"><button class="button-trash"><img class="danger-ico" src="{% static 'img/delete-16.png' %}" alt="">Удалить</button></a>
            {% endif %}
            <hr class="featurette-divider">
        {% endfor %}
    </div>

{% endblock content %}