{% extends "base_app/base.html" %}
{% load static %}
{% load date_filter %}
{% block content %}

    <div class="course-announces-page">
        {% for element in announces %}
            <div class="ann-container card">
                <div class="card-body">
                    <div class="ann-info">
                        <div class="ann-title">
                            <h3 class="title-left"> {{ element.title }} </h3>
                            {% if request.user.teacher_profile %}
                                <a class="title-right" href="{% url 'delete-announce' id=element.pk %}"><button class="button-trash"><img class="danger-ico" src="{% static 'img/delete-16.png' %}" alt="">Удалить</button></a>
                            {% endif %}
                        </div>
                        <p class="ann-small-text"> Дата публикации: {{ element.publish_date|format }}</p>
                        <p class="ann-small-text"> Автор публикации: {{ element.course.author }} </p>
                        <p class="ann-small-text"> Дисциплина: {{ element.course.title }} </p>
                    </div>
                    <p> {{ element.text|urlize  }} </p>
                </div>
            </div> 
        {% endfor %}
    </div>

{% endblock content %}