<!DOCTYPE html>
<html>
  <head>
    {% load static %} 
    {% load check_user %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
    <link rel>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/style.css' %}"> 
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main' %}"> <img class="logo" src="{% static 'img/tree-7.png' %}" alt="" width="35" height="35"> Художественная школа</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'announces' %}">Объявления</a>
            <a class="nav-item nav-link" href="{% url 'student-galleries' %}">Галереи</a>
          </div>
          <div class="right-nav navbar-nav">
            {% if request.user.is_authenticated %}
              {% if request.user.teacher_profile %}
                <a class="nav-item nav-link" href="{% url 'course-create'%}"><img class="use-ico" src="{% static 'img/course.png' %}" alt=""></a>
                <a class="nav-item nav-link" href="{% url 'ann-create'%}"><img class="use-ico" src="{% static 'img/ann.png' %}" alt=""></a>
              {% elif request.user.student_profile %}
                <a class="nav-item nav-link" href="{% url 'student-gallery' id=request.user.student_profile.student_gallery.pk %}"><img class="use-ico" src="{% static 'img/photo-24.png' %}" alt=""></a>
              {% elif request.user.admin_profile %}
                {% if user.is_superuser %}
                  <a class="nav-item nav-link" href="{% url 'admin:index' %}"><img class="use-ico" src="{% static 'img/user-3-24.png' %}" alt=""></a>
                {% endif %}
              {% endif %}
              {% return_login request.user as login %}
              <a class="nav-item nav-link" href="{% url 'profile'%}"><img class="use-ico" src="{% static 'img/user.png' %}" alt="">{{ login }}</a>
              <a class="nav-item nav-link" href="{% url 'logout' %}">Выход</a>
            {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">Вход</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    
    <main class="container-fluid page-content">
      {% block content %} {% endblock %}
    </main>

     <script src="{% static 'jquery-3.6.4.min.js' %}"></script>
    <!--<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
     {% block script %} {% endblock %}
  </body>
</html>
