{% extends "base_app/base.html" %}
{% load static %}
{% block content %}
  <div class="st-gallery-page-content">
    <h3>{{ gallery.title }}</h3>
    {% if not content %}
        <a>Здесь пока ничего нет</a>
    {% else %}
      <div class="gallery-content">
        <div class="row g-3">
          {% for img in content %}
            <div class="col-3 d-flex justify-content-center">
              <div class="card h-100" style="width: 18rem;">
                <img class="card-img-top gal-img" src="{{ img.student_img.url }}"/>
                <div class="card-body">
                  <a> Описание: {{ img.description }} </a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {% include "base_app/fb_pagination.html" %}
      </div>
        
    {% endif %}
  </div>
{% endblock content %}