{% extends "base_app/base.html" %}
{% load static %}
{% block content %}

    {% for student in students %}
        <h3>{{ student.0 }}</h3>
        {% if not student.1 %}
            <h5>Тест не был пройден!</h5>
        {% else %}
            {% for at in student.1 %}
                <p></p>
                <h5>Попытка №{{ forloop.counter }}</h5>
                {{ at.publish_date|date:"SHORT_DATE_FORMAT" }} 
                {{ at.publish_date|time:"H:i" }} 
                {% if at.status == 'CHECK' %}
                    <a href="{% url 'test-attempt' at.pk %}" class="ta-status-check">{{ at.get_status_display }}</a>
                {% elif at.status == 'ACCESS' %}
                    <a href="{% url 'test-attempt' at.pk %}" class="ta-status-done">{{ at.get_status_display }}</a>
                {% elif at.status == 'DENIED' %}
                    <a href="{% url 'test-attempt' at.pk %}" class="ta-status-denied">{{ at.get_status_display }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
        <p></p>
    {% endfor %}

    {% if test.status != 'CLOSED' %}
        <a href="{% url 'test-close' test.pk %}"><button class="button-password">Закрыть тест</button></a>
    {% endif %}
{% endblock content %}