.right-nav {
    margin-left: auto;
    margin-right: 30px;
}

.announces{
    margin-top: 40px;
    margin-bottom: 40px;
}

.use-ico{
    margin-right: 0.5rem; margin-bottom: 0.1rem;
}

.danger-ico{
    margin-right: 0.5rem; margin-bottom: 0.3rem;
}

.logo{
    margin-bottom: 0.3rem;
}

.course{
    margin-top: 20px;
    margin-bottom: 50px;
}

.list-group a{
    margin-bottom: 0.5em;
}

.button-trash{
    background-color: red;
    color: white;
    border: none;
    padding: 8px 17px;
    border-radius: 8px;
    font-size: 17px;
}

.button-edit{
    background-color: orange;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 17px;
}

.button-password{
    background-color: greenyellow;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 17px;
}

.announces em{
    white-space: pre-line;
}

.lec-button-trash{
    background-color: red;
    color: white;
    border: none;
    padding: 8px 17px;
    border-radius: 8px;
    font-size: 17px;
    margin-left: 15px;
}

.ta-status-done{
    display: inline-block;
    color: rgb(16, 16, 16);
    text-decoration: none;
    height: 40px; /*sets height of element*/
    background: rgb(5, 242, 56); /*sets the background of this element (here a solid colour)*/
    transition: all 0.6s; /*sets a transition (for hover effect)*/
    padding-left: 20px; /*sets 'padding'*/
    padding-right: 20px; /*sets 'padding'*/
    line-height: 40px;
    border-radius: 10px;
}

.ta-status-check{
    display: inline-block;
    color: rgb(22, 22, 22);
    text-decoration: none;
    height: 40px; /*sets height of element*/
    background: rgb(246, 255, 68); /*sets the background of this element (here a solid colour)*/
    transition: all 0.6s; /*sets a transition (for hover effect)*/
    padding-left: 20px; /*sets 'padding'*/
    padding-right: 20px; /*sets 'padding'*/
    line-height: 40px;
    border-radius: 10px;
}

.ta-status-denied{
    display: inline-block;
    color: rgb(16, 16, 16);
    text-decoration: none;
    height: 40px; /*sets height of element*/
    background: rgba(242, 36, 0, 0.925); /*sets the background of this element (here a solid colour)*/
    transition: all 0.6s; /*sets a transition (for hover effect)*/
    padding-left: 20px; /*sets 'padding'*/
    padding-right: 20px; /*sets 'padding'*/
    line-height: 40px;
    border-radius: 10px;
}

.test-status-process{
    display: inline-block;
    color: rgb(22, 22, 22);
    text-decoration: none;
    height: 40px; /*sets height of element*/
    background: rgb(237, 115, 27); /*sets the background of this element (here a solid colour)*/
    transition: all 0.6s; /*sets a transition (for hover effect)*/
    padding-left: 20px; /*sets 'padding'*/
    padding-right: 20px; /*sets 'padding'*/
    line-height: 40px;
    border-radius: 10px;
}

.test-status-done{
    display: inline-block;
    color: rgb(22, 22, 22);
    text-decoration: none;
    height: 40px; /*sets height of element*/
    background: rgb(65, 237, 27); /*sets the background of this element (here a solid colour)*/
    transition: all 0.6s; /*sets a transition (for hover effect)*/
    padding-left: 20px; /*sets 'padding'*/
    padding-right: 20px; /*sets 'padding'*/
    line-height: 40px;
    border-radius: 10px;
}

.test-status-closed{
    display: inline-block;
    color: rgb(22, 22, 22);
    text-decoration: none;
    height: 40px; /*sets height of element*/
    background: rgb(125, 124, 123); /*sets the background of this element (here a solid colour)*/
    transition: all 0.6s; /*sets a transition (for hover effect)*/
    padding-left: 20px; /*sets 'padding'*/
    padding-right: 20px; /*sets 'padding'*/
    line-height: 40px;
    border-radius: 10px;
}

.ans-input{
    width: 40px;
    text-align: right;
}


.gallery-img-show {
    width: 400px;
    height: auto;
    border: 5px solid #021021;
}


.button-img{
    background-color: greenyellow;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 17px;
}

.gradebook-link{
    text-decoration: none;
}

.course-sidebar{
    min-width: min-content;
}

.gradebook-page-content{
    margin-top: 4vh;
}

.st-galleries-page-content{
    margin: 4vh;
}

.galleries-list{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.st-gallery-page-content{
    margin-top: 4vh;
}

.gallery-content{
    padding-top: 20px;
    min-height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pagi{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.gl-list-el{
    text-align: center;
    text-decoration: none;
    border: none;
}

.news-page-content{
    margin-top: 4vh;
}

.course-announces-page{
    margin-top: 4vh;
}

.ann-small-text{
    font-size: 18px;
    margin-bottom: 5px;
}

.news-info{
    margin-bottom: 20px;
}

.news-container{
    margin-bottom: 20px;
}

.ann-container{
    margin-bottom: 30px;
}

.ann-info{
    margin-bottom: 20px;
}

.ann-title{
    overflow: auto;
}

.news-title{
    overflow: auto;
}

.title-left{
    float: left;
}

.title-right{
    float: right;
}

.course-section-title{
    margin-bottom: 90px;
    text-align: center;
}

.btn-rnd{
    margin-left: 10px;
}

.profile-page{
    margin: 4vh;
}

.profile{
    display: flex;
}

.l-profile{
    flex-grow:0.3;
}

.r-profile{
    flex-grow:1;
}

.profile-info{
    width: 70%;
    margin: 2vh;
    padding: 3vh;
}

.profile-act{
    width: 70%;
    margin: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.st-gal{
    margin: 2vh;
    margin-left: 3vh;
}

#course-lectures{
    margin: 2vh;
}

.course-material{
    margin-bottom: 30px;
}

.add-material{
    margin-top: 40px;
}

.word-count{
    font-size: 15px;
}

.news-add-page{
    margin: 4vh;
    margin-top: 50px;
}

.ann-add-page{
    margin: 4vh;
    margin-top: 50px;
}

.course-add-page{
    margin: 4vh;
    margin-top: 50px;
}

.lecture-add-page{
    margin: 4vh;
    margin-top: 50px;
}

.delete-page{
    margin: 7vh;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.delete-page h3{
    align-self: center;
}

.delete-page form{
    align-self: center;
}

.pic-load{
    margin: 4vh;
    margin-top: 50px;
}

.admin-page{
    margin-top: 30px;
}

.admin-panel{
    border-radius: 6px;
    overflow: hidden;
}

.admin-panel-login{
    color: black;
    font-size: 15px;
    text-decoration: inherit;
    font-weight: bold;
}