.right-nav {
    margin-left: auto;
    margin-right: 30px;
}

.announces{
    margin-top: 40px;
    margin-bottom: 40px;
}

.use-ico{
    margin-right: 0.5rem; margin-bottom: 0.1rem;
}

.danger-ico{
    margin-right: 0.5rem; margin-bottom: 0.3rem;
}

.logo{
    margin-bottom: 0.3rem;
}

.course{
    margin-top: 40px;
    margin-bottom: 50px;
}

.list-group a{
    margin-bottom: 0.5em;
}

.button-trash{
    background-color: red;
    color: white;
    border: none;
    padding: 8px 17px;
    border-radius: 8px;
    font-size: 17px;
}

.button-edit{
    background-color: orange;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 17px;
}

.button-password{
    background-color: greenyellow;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 17px;
}

.announces em{
    white-space: pre-line;
}

.lec-button-trash{
    background-color: red;
    color: white;
    border: none;
    padding: 8px 17px;
    border-radius: 8px;
    font-size: 17px;
    margin-left: 15px;
}