{% extends 'base_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="add-page">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Изменение пароля пользователя</h3>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-info mt-2">Изменить</button>
            </div>
        </form>
    </div>

{% endblock content %}