{% extends "base_app/base.html" %}
{% load check_user %}
{% load static %}
{% block content %}

<div class="content-section">
    <div class="media-body">
        <h2 class="account-heading">{{ profile.user.username }}</h2>
        {% define_profile user as profile_ch %}
        {% if profile_ch == 'student' %}
            
            <p class="text-secondary"> Студент {{ profile.last_name }} {{ profile.first_name }} </p>

            <p class="text-secondary"> Группа {{ profile.group.number }}</p>

            <div class="courses_list">
                <div class="list-group">
                    {% for course in courses %}
                        <a class="text-decoration-none link-secondary" href="{% url 'course-view' id=course.pk %}">{{course.title}}</a>
                    {% endfor %}
                </div>
            </div>

        {% elif profile_ch == 'teacher' %}
            <p class="text-secondary"> Преподаватель {{ profile.last_name }} {{ profile.first_name }} </p>
            <div class="bg-light p-5 rounded">
                <h4>Дисциплины</h4>
                <div class="list-group">
                    {% for course in courses %}
                        <a class="text-decoration-none link-secondary" href="{% url 'course-view' id=course.pk %}">{{course.title}}</a>
                    {% endfor %}
                </div>
            </div>
        {% elif profile_ch == 'admin' %}
            <p class="text-secondary"> Администратор {{ profile.user.username }} </p>
            <div class="list-group">
                <a class="text-decoration-none link-secondary" href="{% url 'group-create' %}"><img class="use-ico" src="{% static 'img/play-6-24.png' %}" alt="">Добавление группы</a>
                <div class="dropend">
                    <a class="text-decoration-none link-secondary" type="button" data-bs-target="#dropdownMenuOffset" data-bs-toggle="dropdown" data-bs-offset="0,20"><img class="use-ico" src="{% static 'img/play-6-24.png' %}" alt="">Добавление пользователя</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuOffset">
                        <li><a class="dropdown-item" href="{% url 'student-create' %}">Добавление студента</a></li>
                        <li><a class="dropdown-item" href="{% url 'teacher-create' %}">Добавление преподавателя</a></li>
                        <li><a class="dropdown-item" href="{% url 'admin-create' %}">Добавление администратора</a></li>
                    </ul>
                </div>
            </div>
            
        {% endif %}
    </div>
</div>

{% endblock content %}