{% extends "base_app/base.html" %}
{% load static %}
{% load date_filter %}
{% block content %}

    <div class="students">
        <hr class="featurette-divider">
        {% for student in students %}
            <p> Студент {{ student.student_profile.last_name }} {{ student.student_profile.first_name }}</p>
            <em> Логин: {{ student.username }} </em>
            <br/>
            <em> {{ student.student_profile.group }} </em>
            <br/>
            <em> Последнее посещение сайта: {{ student.last_login|format }} </em>
            <p></p>
            <a href="{% url 'delete-student' student.pk %}"><button class="button-trash"><img class="danger-ico" src="{% static 'img/delete-16.png' %}" alt="">Удалить</button></a>
            <a href="{% url 'update-student' student.student_profile.pk %}"><button class="button-edit"><img class="danger-ico" src="{% static 'img/edit-2-16.png' %}" alt="">Редактировать</button></a>
            <a href="{% url 'update-log' student.pk %}"><button class="button-password"><img class="danger-ico" src="{% static 'img/edit-user-16.png' %}" alt="">Изменить логин</button></a>
            <a href="{% url 'update-pass' student.pk %}"><button class="button-password"><img class="danger-ico" src="{% static 'img/key-6-16.png' %}" alt="">Изменить пароль</button></a>
            <hr class="featurette-divider">
        {% endfor %}
    </div>

{% endblock content %}